
html,body{
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    background: #f7f5f2;
    color: #666;
    font-family: sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    padding: 30px;
}
h2{
    line-height: 1.25;
    padding-top: 45px;
    font-weight: 300;
}


text{
    font-size: 10px;
}
strong{
    font-weight: 600;
}
#graphic {
    max-width:  1440px;
    width: 100%;
    height:  100%;
    position:  relative; 
    margin: auto;
}
.container {
    height: 100%;
    max-width: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    line-height: 1.5;
    left: 0px;
}
.container div {
    height: 100%;
    display: block;
    padding: 0 35px;
}

.containerB {
    height: 100%;
    max-width: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    line-height: 1.5;
    top: 60%;
    left: 77%;
}
.containerB div {
    height: 100%;
    display: block;
    padding: 0 35px;
}
.fixed {
    position: fixed;
    max-width: 500px;
    height: 500px;
    top: 30%;
    left: 30%;
    z-index: 20;
}

#scatterZoom {
    position: fixed;
    bottom: 10%;
    width: 100vw;
    height: 100vh;
    top: 15%;
    left: 2%;
    pointer-events: auto;
    display: flex;
    justify-content: center;


}

#scatterZoom > svg{

    width: 50%;
    height: 50%;
    z-index: 110;
}

#viz {
    padding: 20px;
    width: 100%;
    height: 100%;

}

.bubbles {
    stroke-width: 2px;


}
.bubbles:hover {
    stroke: slategray;
}

.rect {
    pointer-events: auto;
}