*{
    margin:0;
    padding:0;
  }
  html,
  body{
     height: 100%;
     padding: 0;
     scroll-behavior: smooth;
     background: #f7f5f2;
     color: #666;
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
  }
  h2{
    line-height: 1.25;
    padding-top: 45px;
    font-weight: 300;
  }
  svg{
    padding: 20px;
  }
  text{
    font-size: 10px;
  }
  strong{
    font-weight: 600;
  }
  #graphic {
    max-width:  1440px;
    width: 100%;
    position:   relative; 
    height:  100%;
    position:  relative; 
    margin:auto;
  }
  .container {
    height: 100%;
    max-width: 440px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    line-height: 1.5;
    left: 500px;
  }
  .container div {
    height: 100%;
    display: block;
    padding: 0 45px;
  }
  .fixed {
    position: fixed;
    max-width: 500px;
    height: 500px;
    top: 50px;
  }